#title{
    background-color: #ff4c68;
}
#actuality{
    background-color: #ffffff;
}
#blog{
    background-color: #ff4c68;
}
.img_actu{
    width: 100%;
}

#footer{
    padding: 7%;
    text-align: center;
    background-color: #fff;
}
p{
    font-family: 'Montserrat';
}
.about__data {
    text-align: center;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #fff;
    
}

h2{
    font-family: 'Montserrat';
    font-size: 2.5rem;
    line-height: 1.5;
    color: rgb(8, 8, 8);
}


h3{
    font-size: 1.5rem;
    font-family: 'Montserrat';
}


.conatiner-fluid{
    padding: 3% 15% 8% 15%;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
}

.navbar{
    padding-bottom: 8%;
}


.nav-item{
    padding: 18px;   
    font-size: 1.3rem;
    
}


.title-image{
    
    /* transform: rotate(25deg); */
    position: absolute;
    right: 4%;
    top: 20%;
    height: 500px;
    opacity: 90%;
    border-radius: 15%;
}

.btn{
    margin: 5% 3% 5% 0;
    
}

.part{
    text-align: center;
    padding: 10%;
}

.details{
    color: #8f8f8f;
}

.icon{
    color: #ef8172;
    margin-bottom: 3rem;
}

.icon:hover{
    color: #ff4c68;
}

.copyright-icon{
    padding: 1%;
}

@media (max-width: 1028px){

    .title-image{
        transform: rotate(0deg);
        position: static;

    }

    #title{
        text-align: center;
    }
}
.one-title{
    padding: 50px;
    text-align: center;
}
